<form class="{{cssClass}} flexcol" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Nome do Personagem"/></h1>
      <div class="resource-row">
        <div class="resource">
          <label class="resource-label">{{localize "CDT.Raca"}}</label>
          <input type="text" name="system.raca" value="{{system.raca}}" placeholder="Raça"/>
        </div>
        <div class="resource">
          <label class="resource-label">{{localize "CDT.Classe"}}</label>
          <input type="text" name="system.classe" value="{{system.classe}}" placeholder="Classe"/>
        </div>
        <div class="resource">
          <label class="resource-label">{{localize "CDT.Nivel"}}</label>
          <input type="number" name="system.nivel.value" value="{{system.nivel.value}}" min="1" max="10"/>
        </div>
      </div>
      <div class="resource-row">
        <div class="resource">
          <label class="resource-label">{{localize "CDT.Experiencia"}}</label>
          <input type="number" name="system.nivel.xp" value="{{system.nivel.xp}}" min="0"/>
          <span>/ {{system.nivel.xpProximo}}</span>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="principal">Principal</a>
    <a class="item" data-tab="habilidades">Habilidades</a>
    <a class="item" data-tab="magias">Magias</a>
    <a class="item" data-tab="equipamentos">Equipamentos</a>
    <a class="item" data-tab="biografia">Biografia</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Principal Tab --}}
    <div class="tab principal" data-group="primary" data-tab="principal">
      <div class="grid grid-2col">
        
        {{!-- Atributos --}}
        <div class="atributos">
          <h3>{{localize "CDT.Atributos"}}</h3>
          <div class="atributo-grid">
            <div class="atributo">
              <label>{{localize "CDT.Fisico"}}</label>
              <input type="number" name="system.fisico.value" value="{{system.fisico.value}}" min="1" max="10"/>
            </div>
            <div class="atributo">
              <label>{{localize "CDT.Acao"}}</label>
              <input type="number" name="system.acao.value" value="{{system.acao.value}}" min="1" max="10"/>
            </div>
            <div class="atributo">
              <label>{{localize "CDT.Mental"}}</label>
              <input type="number" name="system.mental.value" value="{{system.mental.value}}" min="1" max="10"/>
            </div>
            <div class="atributo">
              <label>{{localize "CDT.Social"}}</label>
              <input type="number" name="system.social.value" value="{{system.social.value}}" min="1" max="10"/>
            </div>
          </div>
        </div>

        {{!-- Recursos --}}
        <div class="recursos">
          <h3>{{localize "CDT.Recursos"}}</h3>
          <div class="resource">
            <label class="resource-label">{{localize "CDT.PontosVida"}}</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="number" name="system.pv.value" value="{{system.pv.value}}" min="0" max="{{system.pv.max}}"/>
              <span> / </span>
              <input type="number" name="system.pv.max" value="{{system.pv.max}}" min="1"/>
            </div>
          </div>
          <div class="resource">
            <label class="resource-label">{{localize "CDT.PontosMagia"}}</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="number" name="system.pm.value" value="{{system.pm.value}}" min="0" max="{{system.pm.max}}"/>
              <span> / </span>
              <input type="number" name="system.pm.max" value="{{system.pm.max}}" min="0"/>
            </div>
          </div>
          <div class="resource">
            <label class="resource-label">{{localize "CDT.Defesa"}}</label>
            <div class="resource-content flexrow flex-center flex-between">
              <span class="resource-value">{{system.defesa.value}}</span>
              <span class="resource-formula">(10 + {{system.acao.value}} + {{system.defesa.armadura}} + {{system.defesa.escudo}})</span>
            </div>
          </div>
        </div>
      </div>

      {{!-- Moedas --}}
      <div class="moedas">
        <h3>{{localize "CDT.Moedas"}}</h3>
        <div class="moeda-grid">
          <div class="moeda">
            <label>{{localize "CDT.Cobre"}}</label>
            <input type="number" name="system.recursos.moedas.cobre" value="{{system.recursos.moedas.cobre}}" min="0"/>
          </div>
          <div class="moeda">
            <label>{{localize "CDT.Prata"}}</label>
            <input type="number" name="system.recursos.moedas.prata" value="{{system.recursos.moedas.prata}}" min="0"/>
          </div>
          <div class="moeda">
            <label>{{localize "CDT.Ouro"}}</label>
            <input type="number" name="system.recursos.moedas.ouro" value="{{system.recursos.moedas.ouro}}" min="0"/>
          </div>
        </div>
      </div>
    </div>

    {{!-- Habilidades Tab --}}
    <div class="tab habilidades" data-group="primary" data-tab="habilidades">
      <div class="items-header">
        <h3>{{localize "CDT.Habilidades"}}</h3>
        <a class="item-control" data-action="create" data-type="habilidade" title="Criar Habilidade">
          <i class="fas fa-plus"></i>
        </a>
      </div>
      <ol class="items-list">
        {{#each habilidades as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
          <div class="item-name flexrow">
            <div class="item-image">
              <a class="rollable" data-roll-type="item" data-item-id="{{item._id}}">
                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
              </a>
            </div>
            <h4>{{item.name}}</h4>
          </div>
          <div class="item-bonus">+{{item.system.bonus}}</div>
          <div class="item-controls">
            <a class="item-control" data-action="edit" title="Editar Item">
              <i class="fas fa-edit"></i>
            </a>
            <a class="item-control" data-action="delete" title="Deletar Item">
              <i class="fas fa-trash"></i>
            </a>
          </div>
        </li>
        {{/each}}
      </ol>
    </div>

    {{!-- Magias Tab --}}
    <div class="tab magias" data-group="primary" data-tab="magias">
      <div class="items-header">
        <h3>{{localize "CDT.Magias"}}</h3>
        <a class="item-control" data-action="create" data-type="magia" title="Criar Magia">
          <i class="fas fa-plus"></i>
        </a>
      </div>
      <ol class="items-list">
        {{#each magias as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
          <div class="item-name flexrow">
            <div class="item-image">
              <a class="rollable" data-roll-type="spell" data-item-id="{{item._id}}">
                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
              </a>
            </div>
            <h4>{{item.name}}</h4>
          </div>
          <div class="item-level">Nível {{item.system.nivel}}</div>
          <div class="item-cost">{{item.system.custoMP}} PM</div>
          <div class="item-controls">
            <a class="item-control" data-action="edit" title="Editar Item">
              <i class="fas fa-edit"></i>
            </a>
            <a class="item-control" data-action="delete" title="Deletar Item">
              <i class="fas fa-trash"></i>
            </a>
          </div>
        </li>
        {{/each}}
      </ol>
    </div>

    {{!-- Equipamentos Tab --}}
    <div class="tab equipamentos" data-group="primary" data-tab="equipamentos">
      <div class="items-header">
        <h3>{{localize "CDT.Equipamentos"}}</h3>
        <a class="item-control" data-action="create" data-type="equipamento" title="Criar Equipamento">
          <i class="fas fa-plus"></i>
        </a>
      </div>
      
      {{!-- Armas --}}
      <div class="items-section">
        <h4>Armas</h4>
        <ol class="items-list">
          {{#each armas as |item id|}}
          <li class="item flexrow" data-item-id="{{item._id}}">
            <div class="item-name flexrow">
              <div class="item-image">
                <a class="rollable" data-roll-type="weapon" data-item-id="{{item._id}}">
                  <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                </a>
              </div>
              <h4>{{item.name}}</h4>
            </div>
            <div class="item-damage">{{item.system.dano}}</div>
            <div class="item-equipped">
              <input type="checkbox" name="items.{{item._id}}.system.equipado" {{checked item.system.equipado}}/>
            </div>
            <div class="item-controls">
              <a class="item-control" data-action="edit" title="Editar Item">
                <i class="fas fa-edit"></i>
              </a>
              <a class="item-control" data-action="delete" title="Deletar Item">
                <i class="fas fa-trash"></i>
              </a>
            </div>
          </li>
          {{/each}}
        </ol>
      </div>

      {{!-- Armaduras --}}
      <div class="items-section">
        <h4>Armaduras</h4>
        <ol class="items-list">
          {{#each armaduras as |item id|}}
          <li class="item flexrow" data-item-id="{{item._id}}">
            <div class="item-name flexrow">
              <div class="item-image">
                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
              </div>
              <h4>{{item.name}}</h4>
            </div>
            <div class="item-defense">+{{item.system.defesa}}</div>
            <div class="item-equipped">
              <input type="checkbox" name="items.{{item._id}}.system.equipado" {{checked item.system.equipado}}/>
            </div>
            <div class="item-controls">
              <a class="item-control" data-action="edit" title="Editar Item">
                <i class="fas fa-edit"></i>
              </a>
              <a class="item-control" data-action="delete" title="Deletar Item">
                <i class="fas fa-trash"></i>
              </a>
            </div>
          </li>
          {{/each}}
        </ol>
      </div>

      {{!-- Outros Equipamentos --}}
      <div class="items-section">
        <h4>Outros Equipamentos</h4>
        <ol class="items-list">
          {{#each equipamentos as |item id|}}
          <li class="item flexrow" data-item-id="{{item._id}}">
            <div class="item-name flexrow">
              <div class="item-image">
                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
              </div>
              <h4>{{item.name}}</h4>
            </div>
            <div class="item-quantity">{{item.system.quantidade}}</div>
            <div class="item-weight">{{item.system.peso}}kg</div>
            <div class="item-controls">
              <a class="item-control" data-action="edit" title="Editar Item">
                <i class="fas fa-edit"></i>
              </a>
              <a class="item-control" data-action="delete" title="Deletar Item">
                <i class="fas fa-trash"></i>
              </a>
            </div>
          </li>
          {{/each}}
        </ol>
      </div>
    </div>

    {{!-- Biografia Tab --}}
    <div class="tab biografia" data-group="primary" data-tab="biografia">
      <div class="biografia-section">
        <label>{{localize "CDT.Antecedente"}}</label>
        <input type="text" name="system.antecedente" value="{{system.antecedente}}" placeholder="Antecedente do personagem"/>
      </div>
      <div class="biografia-section">
        <label>{{localize "CDT.Aparencia"}}</label>
        <textarea name="system.detalhes.aparencia" placeholder="Descreva a aparência do personagem">{{system.detalhes.aparencia}}</textarea>
      </div>
      <div class="biografia-section">
        <label>{{localize "CDT.Personalidade"}}</label>
        <textarea name="system.detalhes.personalidade" placeholder="Descreva a personalidade do personagem">{{system.detalhes.personalidade}}</textarea>
      </div>
      <div class="biografia-section">
        <label>{{localize "CDT.Historia"}}</label>
        <textarea name="system.detalhes.historia" placeholder="Conte a história do personagem">{{system.detalhes.historia}}</textarea>
      </div>
      <div class="biografia-section">
        <label>{{localize "CDT.Biografia"}}</label>
        <textarea name="system.detalhes.biografia" placeholder="Biografia completa do personagem">{{system.detalhes.biografia}}</textarea>
      </div>
    </div>

  </section>
</form>

